<span id = "main"></span>
<script>
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    let body = '';
    
    if(getParameterByName('city')){
        id = {
            11: "Gurgaon",
            18: "Mumbai",
            16: "Kolkata"
        }
        body += '<span class = "filter-item">' + 'City' + ': '+ id[getParameterByName('city')] + '</span>';
    }

    if(getParameterByName('bhk')){
        body += '<span class = "filter-item">' + 'BHKs' + ': '+ getParameterByName('bhk') + '<a href = "/filter?remove=bhks"><i class="fa fa-times" aria-hidden="true"></i></a></span>';    
    }

    if(getParameterByName('toPrice')){
        body += '<span class = "filter-item">' + 'Budget: Maximum' + ': '+ getParameterByName('toPrice') + '<a href = "/filter?remove=toPrice"><i class="fa fa-times" aria-hidden="true"></i></a></span>';    
    }

    document.getElementById('main').innerHTML = body;

</script>