<div class = "item-left">
    <div class = "item">
        Filters <span class = "icon"><i class = "fa fa-angle-right"></i></span>
    </div>
    <div class = "item bedroom-filter">
        Bedrooms <span class = "icon"><i class = "fa fa-angle-down"></i></span>
        <div class = "dropdown-bedroom-filter visible">
            <div class = "dropdown-item"><a href = "/filter?bhk=1" id = "one">1 BHK</a></div>
            <div class = "dropdown-item"><a href = "/filter?bhk=2" id = "two">2 BHK</a></div>
            <div class = "dropdown-item"><a href = "/filter?bhk=3" id = "three">3 BHK</a></div>
            <div class = "dropdown-item"><a href = "/filter?bhk=4" id = "four">3+ BHK</a></div>
        </div>
    </div>
    <div class = "item budget">
            Budget <span class = "icon"><i class = "fa fa-angle-down"></i></span>
            <div class = "dropdown-budget-filter visible">
                <div class = "col">
                    <div class = "dropdown-item"><b>From</b></div>
                    <div class = "dropdown-item"><a href = "/filter?fromBudget=100000" id = "price2">₹ 1,00,000</a></div>
                    <div class = "dropdown-item"><a href = "/filter?fromBudget=1000000" id = "price3">₹ 10,00,000</a></div>
                    <div class = "dropdown-item"><a href = "/filter?fromBudget=10000000" id = "price4">₹ 1,00,00,000</a></div>
                    <div class = "dropdown-item"><a href = "/filter?fromBudget=100000000" id = "price5">₹ 10,00,00,000</a></div>
                </div>
                <div class = "col">
                        <div class = "dropdown-item"><b>To</b></div>
                        <div class = "dropdown-item"><a href = "/filter?toBudget=100000" id = "price2">₹ 1,00,000</a></div>
                        <div class = "dropdown-item"><a href = "/filter?toBudget=1000000" id = "price3">₹ 10,00,000</a></div>
                        <div class = "dropdown-item"><a href = "/filter?toBudget=10000000" id = "price4">₹ 1,00,00,000</a></div>
                        <div class = "dropdown-item"><a href = "/filter?toBudget=100000000" id = "price5">₹ 10,00,00,000</a></div>
                    </div>
            </div>
    </div>
    <div class = "item resetClass">
        <a href = "/filter?remove=all" id = "reset">Reset</a>
    </div>
</div>

<div class = "item-right sort">
    <span class = "icon"><i class = "fa fa-arrow-down"></i></span> <span class = "sort-content"><div>Sorted by</div><div id = "sort-cat">Relevance</div></span>
    <div class = "dropdown-sort-filter visible">
        <div class = "dropdown-item"><a id = "relevance" href = "/filter?sorted=REL">Relevance</a></div>
        <div class = "dropdown-item"><a id = "asc" href = "/filter?sorted=ASC">Price: Low to High</a></div>
        <div class = "dropdown-item"><a id = "desc" href = "/filter?sorted=DESC">Price: High to Low</a></div>
        <div class = "dropdown-item"><a id = "popularity" href = "/filter?sorted=POP">Popularity</a></div>
        <div class = "dropdown-item"><a id = "rating" href = "/filter?sorted=RAT">Seller Rating</a></div>
    </div>
</div>