<a class = "page" href = "#"><b>Prev</b></a>
<% for(let i = 1; i <= 10; i++){ %>
    <a class = "page" href = "#"><%= i %></a>
<% } %>
<a class = "page" href = "#"><b>Next</b></a>

<script>
    
    function getParameterByName(name, url) {
        if (!url) url = window.location.href;
        name = name.replace(/[\[\]]/g, "\\$&");
        var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
            results = regex.exec(url);
        if (!results) return null;
        if (!results[2]) return '';
        return decodeURIComponent(results[2].replace(/\+/g, " "));
    }

    var currentPage = parseInt(getParameterByName('page'));
    let bullets = document.getElementsByClassName('page');
    let currentURL = window.location.href;
    let v = currentURL.indexOf('page') + 5;

    let idx = parseInt(currentPage.toString.length);


    bullets[0].setAttribute('href', (currentURL.substr(0, v) + (currentPage-1) + currentURL.substr(v+idx, currentURL.length)));
    
    for(let i = 1; i <= 10; i++){
        let url = currentURL.substr(0, v) + i + currentURL.substr(v+idx, currentURL.length);
        bullets[i].innerHTML = i;
        
        bullets[i].setAttribute('href', url);
        if(i == currentPage){
            bullets[i].classList.add('active');
        }
    }

    bullets[11].setAttribute('href', (currentURL.substr(0, v) + (parseInt(currentPage)+1) + currentURL.substr(v+idx, currentURL.length)));

    
</script>

