 
<div class = "acc-container">
<button class="accordion">Iterny map</button>
<div class="panel">
  <div id = "map-container">
    <div id="map"></div>
    <div id="button">
        <button id = "iterny">Get Iterny</button>
    </div>
</div>

</div>

<button class="accordion">Recommended Properties 2</button>
<div class="panel">
  <p>Lorem ipsum...</p>
</div>


