<div id = "map-container">
    <!-- <div id = "overlay">
        <div id = "text">Select a property to activate iterny map</div>
    </div> -->
    <div id="map"></div>
    <div id="button">
        <button id = "iterny">Get Iterny</button>
    </div>
</div>
