<div class = "map-container">
    <div id = "overlay">
        <div class = "overlay-content">
            Select a property to activate iterny map
        </div>
    </div>
<div id="map"></div>
    <div id="button">
    <button id = "iterny">Get Iterny</button>
   </div>
</div>

<div class = "menu">
    <div class = "menu-btn">
        Selected Listings
    </div>
    <div class = "menu-content">
            <div class="sidebar-card">
                    <div class="container">
                      <h3><b>John Doe</b></h3> 
                      <p>Architect & Engineer</p> 
                    </div>
                  </div>
    </div>
</div>

<div class = "menu">
        <div class = "menu-btn-2">
            Recommendations
        </div>
        <div class = "menu-content-2">
                <div class="mcard">
                        <div class="container">
                          <h3><b>John Doe</b></h3> 
                          <p>Architect & Engineer</p> 
                        </div>
                      </div>
        </div>
    </div>


    /