*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #f7f7f7;
    font-family: 'Open Sans', sans-serif;
}

#map{
    width: 380px;
    position: absolute;
    right: 0;
    z-index: -10;
    top: 50px;
    height: 100%;
}

#iterny{
    position: absolute;
    right: 140px;
    top: 70px;
    z-index: 100;
        cursor: pointer;
        border: 2px solid #F62459;
        border-radius: 40px;
        padding: 10px;
        margin-right: 10px;
        color: rgba(255,255,255,1);
        text-align: center;
        text-overflow: clip;
        letter-spacing: 1px;
        background: #F62459;
        transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
}
      
      #iterny:hover {
        background: #fff;
        color: #F62459;
      }
    


.left{
    position: absolute;
    margin-left: 5px;
    margin-top: 70px;
    padding: 10px;
    color: #F62459;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 100%;
    font-size: 10px
}

.right{
    position: absolute;
    margin-left: 245px;
    margin-top: 70px;
    color: #F62459;
    background-color: rgb(255, 255, 255, 0.5);
    padding: 10px;
    border-radius: 100%;
    font-size: 10px;
}

.left:hover{
    color: #fff;
    background-color: #F62459
}

.right:hover{
    color: #fff;
    background-color: #F62459
}

.header{
    position: fixed;
    height: 50px;
    width: 100%;
    background-color: #fff;
    border-top: 1px solid #ecf0f1;
    border-bottom: 1px solid #ecf0f1;
    display: flex;
}

.heading-item{
    display: flex;
    align-items: center;
    border-right: 1px solid #ecf0f1;
    font-size: 14px;
}

.agent-status{
    color: #fba511;
}
.heading-sidekick{
    color: rgb(143, 143, 143);
    font-size: 0.8em;
}

.logo{
    padding: 0 20px;
}

.logo img{
    transform: translate(0, -5px);
}

.buy-filter{
    padding: 0 30px;
    cursor: pointer;
}

.buy-filter:hover{
    background-color: #fcfcfc;
}

.buy-filter .icon{
    padding: 0 0 0 5px;
    color: #F62459;
}

.input{
    justify-content: flex-end;
    padding: 0 20px;
}

.search{
    padding: 5px;
    width: 400px;
    border: 0px;
}

.applied-filters{
    margin-top: 70px;
    padding: 20px;
}

.app{
    padding: 0 10px;
    cursor: pointer;
}

.app .icon{
    font-size: 40px;
    padding: 0 5px 0 0;
    color: #F62459;
}

.content{
    display: flex;
}

.filter-item{
    background-color: #F62459;
    color: #fff;
    padding: 5px;
    font-size: 12px;
    border-radius: 40px;
    margin-left: 10px;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-area{
    display: flex;
    flex-direction: column;
    text-align: center;
    
}
.modal-image img{
    height: 64px;
    width: 64px;
    padding: 5px;
    border: 1px solid #BDC3C7;
    border-radius: 100%;
}

.modal-text{
    padding: 10px;
    font-size: 16px;
}

.modal-phone{
    padding: 10px;
    border: 1px dashed #F62459;
}

.modal-button{
    margin: 20px;
}

/* Modal Content/Box */
.modal-content {
    text-align: center;
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    min-width: 350px;
    width: 30%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
.filter-item .fa{
    padding-left: 5px;
    cursor: pointer;
}

.result-content{
    border-right: 1px solid #ecf0f1; 
    flex-direction: column;
    background-color: #fff;
    z-index: -1;
    /* display: flex; */
    position: absolute;
    top: 50px;
    width: 900px;
}

.results{
    display: flex;
    height: 100%;
    padding: 20px 50px 0 50px;
    flex-direction: column;
    justify-content: center;
}

.card{
    display: flex;
    width: 740px;
    padding: 20px;
    margin: 20px;
    box-sizing: content-box;
    flex-direction: row;
}

.card:hover{
    box-shadow: 0px 0px 5px 5px #ececec;
    cursor: pointer;
}

.card-image{
    justify-content: space-between;
}

.card-image img{
    height: 170px;
    width: 280px;
}

.card-content{
    padding: 0 10px;
}

.card-content .heading{
    font-size: 18px;
}

.heading:hover{
    color: #F62459;
}

.card-content .address{
    font-size: 12px;
    color: #BFBFBF;
}

.card-content .card-separator{
    width: 430px;
    margin-top: 10px;
    opacity: 0.2;
}

.href:hover{
    color: #F62459;
}

.card-options{
    display: flex;
    align-items: center;
    height: 50px;
}

.card-options .price{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.price-sidekick{
    padding: 5px 0 0 0;
    font-size: 12px;
    color: #BDC3C7;
}

.card-options .size{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.size-sidekick{
    padding: 5px 0 0 0;
    font-size: 12px;
    color: #BDC3C7;
}

.card-options .status{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.status-sidekick{
    padding: 5px 0 0 0;
    font-size: 12px;
    color: #BDC3C7;
}

.options{
    padding: 10px 0;
    font-size: 12px;
}

.advert{
    margin: 10px 0;
    color: #BDC3C7;
}

.advert .link{
    color: #000;
    text-decoration: underline;
}

.image-offset{
    display: flex;
    justify-content: space-between;
}

.agent-type{
    color: #BDC3C7;
    font-size: 10px;
}

.agent{
    display: flex;
    justify-content: space-around;
}

.agent-name{
    font-size: 12px;
}

.rating{
    background-color: #20a255;
    color: #fff;
    padding: 2px;
    font-size: 12px;
    border-radius: 10%;
}

.reviews{
    font-size: 10px;
    color: #BFBFBF;
}

.agent-rating{
    text-align: right;
}

.agent-info{
    padding: 0 0 0 10px;
    font-size: 14px;
}

.agent-image img{
    height: 34px;
    width: 34px;
    border: 1px solid #ecf0f1;
}

.filter{
    height: 50px;
    background-color: #fbfbfb;
    border: 1px solid #e0e0e0;
    display: flex;
    z-index: 2;
    align-items: center;
    position: fixed;
}


.dropdown{
    position: absolute;
    top: 50px;
    border: 1px solid #ecf0f1;
    left: 161px;
    padding: 10px 40px;
    background-color: #fff;
}

.dropdown-item{
    padding: 10px 0;
}

.dropdown-item:hover{
    color: #F62459;
    cursor: pointer;
}

.visible{
    display: none;
}

.selected{
    color: #F62459; 
}

a{
    text-decoration: none;
    color: inherit;
}

.filter .item{
    display: flex;
    padding: 0 20px;
    border-right: 1px solid #ecf0f1;
    cursor: pointer;
}

.filter .item .icon{
    padding: 0 0 0 10px;
    color: #F62459;
}

.sort .icon{
    font-size: 25px;
}

.filter{
    justify-content: space-between;
}

.filter .item-right{
    display: flex;
    padding: 0 20px;
    cursor: pointer;
}

.contact{
    display: flex;
    justify-content: flex-end;
}

.default {
    cursor: pointer;
    border: 2px solid #F62459;
    border-radius: 40px;
    padding: 10px;
    margin-right: 10px;
    color: #F62459;
    text-align: center;
    text-overflow: clip;
    letter-spacing: 1px;
    background: rgba(0,0,0,0);
    transition: background-color 0.3s cubic-bezier(0, 0, 0, 0), color 0.3s cubic-bezier(0, 0, 0, 0), width 0.3s cubic-bezier(0, 0, 0, 0), border-width 0.3s cubic-bezier(0, 0, 0, 0), border-color 0.3s cubic-bezier(0, 0, 0, 0);
  }
  
  .default:hover {
    color: rgba(255,255,255,1);
    background: #F62459;
  }
  

.item-left{
    display: flex;
}

.item-right .icon{
    color: #F62459;
    padding: 0 10px;
}

.sort-content{
    font-size: 12px;
}

#sort-cat{
    color: #F62459;
}

.dropdown-bedroom-filter{
    position: absolute;
    top: 50px;
    border: 1px solid #ecf0f1;
    left: 161px;
    padding: 10px 40px;
    background-color: #fff;
}

.dropdown-budget-filter{
    position: absolute;
    top: 50px;
    border: 1px solid #ecf0f1;
    left: 161px;
    padding: 10px 40px;
    background-color: #fff;
}

.col{
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.dropdown-sort-filter{
    border: 1px solid #ecf0f1;
    background-color: #fff;
    padding: 10px 10px;
    font-size: 12px;
}

.pagination{
    display: flex;
    justify-content: center;
    padding-bottom: 50px;
}

.page{
    padding: 5px 10px;;
    margin: 0 5px;
    cursor: pointer;
}

.active{
    border-bottom: 2px solid #F62459
}

@media screen and (max-width : 600px) {
    /* Styles */
    .modal-content{
        margin-top: 250px;
    }
    .applied-filters{
        margin-top: 180px;
    }

    .filter{
        height: 150px;
    }

    .item-left{
        flex-direction: column;
        padding: 20px;
    }

    .sidebar{
        display: none;
    }

    .card{
        display: flex;
        width: 280px;
        padding: 20px;
        margin: 20px;
        justify-content: center;
        box-sizing: content-box;
        flex-direction: column;
    }

    .size-sidekick{
        font-size: 8px;
    }

    .result-content{
        width: 450px;
    }


    .price-sidekick{
        font-size: 8px;
    }

    .status-sidekick{
        font-size: 8px;
    }
    .card-content .card-separator{
        width: 240px;
    }
    .app{
        display: none;
    }

    .search{
        width: 100px;
    }
}


@media screen and (min-width: 601px) and (max-width : 830px) {
    /* Styles */

    .sidebar{
        display: none;
    }

    .card{
        display: flex;
        width: 460px;
        padding: 20px;
        margin: 20px;
        justify-content: center;
        box-sizing: content-box;
        flex-direction: row;
    }

    .size-sidekick{
        font-size: 8px;
    }

    .result-content{
        width: 600px;
    }


    .price-sidekick{
        font-size: 8px;
    }

    .status-sidekick{
        font-size: 8px;
    }
    .card-content .card-separator{
        width: 240px;
    }
    .app{
        display: none;
    }
    .search{
        width: 200px;
    }
}
