<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel = "stylesheet" href = "style.css">
    <link href = "https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet"> 
    <link href = "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel = "stylesheet">
    <title>Makaan | Results</title>
</head>
<body>
    <div class = "header">
        <% include ../partials/header %>
    </div>
    <div class = "result-content">
        <div class = "filter">
                <% include ../partials/filters %>
        </div>
        <div class = "results">
                <div class = "count"><b><%= data.totalCount %></b> Properties in <%= data.facetedResponse.items[0].listing.property.project.locality.suburb.city.label   %></div>
                <% data.facetedResponse.items.forEach((item) => { %>
                    <% include ../partials/results %>
                <% })%>
                <div class = "pagination">
                    <% include ../partials/pagination %>
                </div>
        </div>
    </div>
    <script src = "https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src = "script.js"></script>
</body>
</html>